.window {
  height: 100px;
  width: 200px;
  border-width: 2px;
  border: 1px solid #382727;
  border: solid;
  display: flex;
  flex-direction: column;
  /* z-index: 5; */
}

.window:active {
  /* z-index: 199; */
}

.window__header {
  background-color: cornflowerblue;
  border-bottom: 1px solid #382727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window__header__title {
}

.window__header__close {
}

.window__content {
  background-color: cadetblue;
  /* max-height: 90%; */
  flex: 1;
}
